#game {
    position: fixed; 
    top: 0; 
    left: 0; 
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
    display: block;
	z-index: 0;
}

#background {
    position: fixed; 
    top: 0; 
    left: 0; 
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
    display: block;
	background-color: #CDCDCD;
	z-index: -1;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

#editbutton {
	z-index = 5;
	position:fixed;
	border: solid black 1px;
}

#note {
	z-index = 5;
	position:fixed;
	font: ubuntu 32px;
	margin-top: -5px;
	margin-left: 150px;
}

.textbox {
	z-index = 5;
	position:fixed;
	border:none;
	visibility: hidden;
}

#bodylabel {
	font: ubuntu 32px;
	margin-top: 50px;
	margin-left: 1px;
}

#body {
	margin-top: 70px;
	margin-left: 1px;
}

#shapelabel {
	font: ubuntu 32px;
	margin-top: 50px;
	margin-left: 300px;
}

#shape {
	margin-top: 70px;
	margin-left: 300px;
}

#offsetlabel {
	font: ubuntu 32px;
	margin-top: 90px;
	margin-left: 1px;
}

#offset {
	margin-top: 130px;
	margin-left: 1px;
}

#offsetxlabel {
	font: ubuntu 32px;
	margin-top: 150px;
	margin-left: 1px;
}

#offsetx {
	margin-top: 190px;
	margin-left: 1px;
}

#lengthlabel {
	font: ubuntu 32px;
	margin-top: 210px;
	margin-left: 1px;
}

#length {
	margin-top: 230px;
	margin-left: 1px;
}

#widthlabel {
	font: ubuntu 32px;
	margin-top: 250px;
	margin-left: 1px;
}

#width {
	margin-top: 270px;
	margin-left: 1px;
}

#reloadlabel {
	font: ubuntu 32px;
	margin-top: 290px;
	margin-left: 1px;
}

#reload {
	margin-top: 310px;
	margin-left: 1px;
}

#knockbacklabel {
	font: ubuntu 32px;
	margin-top: 330px;
	margin-left: 1px;
}

#knockback {
	margin-top: 350px;
	margin-left: 1px;
}

#invislabel {
	font: ubuntu 32px;
	margin-top: 330px;
	margin-left: 350px;
}

#invis {
	margin-top: 350px;
	margin-left: 350px;
}

#traplabel {
	font: ubuntu 32px;
	margin-top: 370px;
	margin-left: 1px;
}

#bullet {
	margin-top: 390px;
	margin-left: 1px;
}

#place {
	margin-top: 410px;
	margin-left: 1px;
	border: solid black 1px;
}

#notes {
	font: ubuntu 32px;
	margin-top: 450px;
	margin-left: 1px;
}

#export {
	margin-top: 550px;
	margin-left: 1px;
	border: solid black 1px;
}

#import {
	margin-top: 550px;
	margin-left: 100px;
	border: solid black 1px;
}

#save {
	font: ubuntu 32px;
	margin-top: 570px;
	margin-left: 1px;
}