#game {
    position: fixed; 
    top: 0; 
    left: 0; 
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
	background-color: #CDCDCD;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

#watermark {
	position:fixed;
	margin-left: 80%;
	font: ubuntu 32px;
}

#editbutton {
	z-index = 5;
	position:fixed;
	border: solid black 1px;
}

.editbuttons {
	z-index = 5;
	position:fixed;
	border:none;
	visibility: hidden;
}

#spawnlabel {
	position:fixed;
	margin-top: 0px;
	margin-left: 150px;
}

#spawn {
	font: ubuntu 32px;
	position:fixed;
	margin-top: 0px;
	margin-left: 260px;
}

#bodybutton {
	margin-top: 30px;
	margin-left: 1px;
}

#barrelbutton {
	margin-top: 30px;
	margin-left: 130px;
}

#bulletbutton {
	margin-top: 30px;
	margin-left: 230px;
}

#savebutton {
	margin-top: 30px;
	margin-left: 330px;
}

.pos1label {
	font: ubuntu 32px;
	margin-top: -10px;
	margin-left: 1px;
}

.pos2label {
	font: ubuntu 32px;
	margin-top: -10px;
	margin-left: 400px;
}

.pos3label {
	font: ubuntu 32px;
	margin-top: 70px;
	margin-left: 1px;
}

.pos4label {
	font: ubuntu 32px;
	margin-top: 70px;
	margin-left: 400px;
}

.pos5label {
	font: ubuntu 32px;
	margin-top: 150px;
	margin-left: 1px;
}

.pos6label {
	font: ubuntu 32px;
	margin-top: 150px;
	margin-left: 400px;
}

.pos7label {
	font: ubuntu 32px;
	margin-top: 230px;
	margin-left: 1px;
}

.pos8label {
	font: ubuntu 32px;
	margin-top: 230px;
	margin-left: 400px;
}

.pos9label {
	font: ubuntu 32px;
	margin-top: 310px;
	margin-left: 1px;
}

.pos10label {
	font: ubuntu 32px;
	margin-top: 310px;
	margin-left: 400px;
}

.pos1 {
	margin-top: 30px;
	margin-left: 1px;
}

.pos2 {
	margin-top: 30px;
	margin-left: 400px;
}

.pos3 {
	font: ubuntu 32px;
	margin-top: 110px;
	margin-left: 1px;
}

.pos4 {
	font: ubuntu 32px;
	margin-top: 110px;
	margin-left: 400px;
}

.pos5 {
	margin-top: 190px;
	margin-left: 1px;
}

.pos6 {
	margin-top: 190px;
	margin-left: 400px;
}

.pos7 {
	margin-top: 270px;
	margin-left: 1px;
}

.pos8 {
	margin-top: 270px;
	margin-left: 400px;
}

.pos9 {
	margin-top: 350px;
	margin-left: 1px;
}

.pos10 {
	margin-top: 350px;
	margin-left: 400px;
}

#notes {
	font: ubuntu 32px;
	margin-top: 40%;
	margin-left: 1px;
}